Service References/JobServiceReference/JobsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JobsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54343/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54343/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54343/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJobsService_OpeningJobs_InputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobs" />
  </wsdl:message>
  <wsdl:message name="IJobsService_OpeningJobs_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsResponse" />
  </wsdl:message>
  <wsdl:message name="IJobsService_OpeningJobsByRole_InputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsByRole" />
  </wsdl:message>
  <wsdl:message name="IJobsService_OpeningJobsByRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpeningJobsByRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IJobsService">
    <wsdl:operation name="OpeningJobs">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsService/OpeningJobs" message="tns:IJobsService_OpeningJobs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsService/OpeningJobsResponse" message="tns:IJobsService_OpeningJobs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpeningJobsByRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IJobsService/OpeningJobsByRole" message="tns:IJobsService_OpeningJobsByRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJobsService/OpeningJobsByRoleResponse" message="tns:IJobsService_OpeningJobsByRole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IJobsService" type="tns:IJobsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpeningJobs">
      <soap:operation soapAction="http://tempuri.org/IJobsService/OpeningJobs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpeningJobsByRole">
      <soap:operation soapAction="http://tempuri.org/IJobsService/OpeningJobsByRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JobsService">
    <wsdl:port name="BasicHttpBinding_IJobsService" binding="tns:BasicHttpBinding_IJobsService">
      <soap:address location="http://localhost:54343/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>