Service References/JobServiceReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfJobs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Jobs" nillable="true" type="tns:Jobs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobs" nillable="true" type="tns:ArrayOfJobs" />
  <xs:complexType name="Jobs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jobs" nillable="true" type="tns:Jobs" />
</xs:schema>